body {
    background-image: url("../images/contemporary_china.png")
}

/* navbar */
nav {
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
    border-bottom: 8px solid #4aaaa5;
    background-color: white;
    
}

.nav-item {
    font-size: 20px;
}

#name{
    margin-left: 0px;
    color:black;
    font-size: 30px;
    padding-right: 30px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    background-color: lightgrey
}

.line{
   color: black;
   border-width: 5px;
   padding-right: 20px;
   padding-left: 20px;
}
.main-section{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    width: 720px;
    margin-right: 140px;
    margin-left: 100px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;

}

#aboutme {
    padding-right: 20px;
    padding-left: 10px;
    font-size: 31px;
    font-family:'Nunito Sans', sans-serif;
    color: black;
}

/* footer */

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    /* border-top: 8px solid #4aaaa5; */
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}

/* profile photo */

.auth-image {
    width: 240px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

/* sidebar */

.social {
    width: 45px;
    height: 45px;
    margin-top: 0px;
    margin-right: 20px;
    
}

#github{
    margin-left: 26px;
    width: 50px;
    height: 50px;
}

.sidebar {
    padding-top: 30px;
    width: 290px;
    background-color: white;
    height: 205px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 0px;
    font-size: 30px;
}
#connectwithme{
    font-size: 31px;
    font-family:'Nunito Sans', sans-serif;
    color: black;
   
}

.social:last-child {
    margin-right: 0;
}

#contactme{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 31px;
    width: 720px;
    
}